@using WebCustomerApp.Models.ContactsViewModels
@model AddContactViewModel

@{
    ViewData["Title"] = "Contacts";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Contacts" method="post" asp-antiforgery="true">
            <h4>Create a new Contact</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Groups"></label>
                <select asp-for="Groups" asp-items="ViewBag.Groups" multiple class="form-control">
                </select>                
            </div>
            <button type="submit" class="btn btn-default">Add contact</button>
            <a class="btn btn-default" role="button" asp-action="Groups" asp-controller="Contacts">Manage groups</a>            
        </form>
    </div>
</div>


<h4>Contact List</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Phone number</th>
            <th scope="col">Name</th>
            <th scope="col">Groups</th>
            <th scope="col">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ContactListViewModel iter in ViewBag.Contacts)
        {
        <tr>
            <th scope="row">@iter.PhoneNumber</th>
            @if (iter.Name == "" || iter.Name == null)
            {
                <th>Unnamed contact</th>
            }
            else
            {
                <th>@iter.Name</th>
            }
            <th>@iter.Groups</th>
            <th>
                <a class="btn btn-default btn-sm" role="button" asp-action="RemoveContact" asp-controller="Contacts" asp-route-UserContactId="@iter.Id">Delete</a>
                <a class="btn btn-default btn-sm" role="button" asp-action="ChangeContact" asp-controller="Contacts" asp-route-UserContactId="@iter.Id">Edit</a>
            </th>
        </tr>
        }
    </tbody>   
</table>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
