@using WebCustomerApp.Models.ContactsViewModels
@model AddContactViewModel

@{
    ViewData["Title"] = "Contacts";
}

<h2>@ViewData["Title"]</h2>


<form asp-action="Index" asp-controller="Contacts" method="post" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="PhoneNumber">Phone</label>
            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Phone number" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Groups"></label>
            <select asp-for="Groups" asp-items="ViewBag.Groups" multiple class="form-control"></select>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Add contact</button>
    <a class="btn btn-default" role="button" asp-action="Groups" asp-controller="Contacts">Manage groups</a>            
</form>


<h4>Contact List</h4>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Phone number</th>
            <th scope="col">Name</th>
            <th scope="col">Groups</th>
            <th scope="col">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach(ContactListViewModel iter in ViewBag.Contacts)
        {
        <tr>
            <th scope="row">@iter.PhoneNumber</th>
            @if (iter.Name == "" || iter.Name == null)
            {
                <th>Unnamed contact</th>
            }
            else
            {
                <th>@iter.Name</th>
            }
            <th>@iter.Groups</th>
            <th>
                <a class="btn btn-default btn-sm" role="button" asp-action="RemoveContact" asp-controller="Contacts" asp-route-UserContactId="@iter.Id">Delete</a>
                <a class="btn btn-default btn-sm" role="button" asp-action="ChangeContact" asp-controller="Contacts" asp-route-UserContactId="@iter.Id">Edit</a>
            </th>
        </tr>
        }
    </tbody>   
</table>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
